[coverage:run]
source = poc_python_pdf
omit =
    */wsgi.py
    */settings.py
    */**/migrations/*.py
    */**/tests/*.py
    */**/apps.py
    */**/admin.py
    */**/urls.py
[coverage:report]
omit = */tests/*,poc_python_pdf/wsgi.py