<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Report - Header</title>
    <meta name="description" content="Report example" />
    <style>
      header {
        position: fixed;
        top: 0;
        left: 0;

        height: 2.5cm;
        width: 100%;
        border-bottom: 1px solid #999;
      }
      .content {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: 100%;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="content">
        <div>
          This is the pdf header
        </div>
      </div>
    </header>
  </body>
</html>
